

.spring{
    animation: spring 1s linear infinite;
    transition: all ease-in-out
}

@keyframes spring {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(12px);
    }
}

