.hero{
  
  
    background: url("../../assets/images/bg.jpg") no-repeat ;
    background-size:cover;
    background-position: 100%;
    
}


.hero-img{
    opacity: 100%;
    
}


canvas{
    opacity:40%;
   
}

