.hero{

    background: rgb(187,27,115);
    background: linear-gradient(78deg, rgba(89,6,80,1) 4%, rgba(160,40,167,1) 23%, rgba(173,25,169,1) 34%, rgba(189,44,184,1) 78%, rgba(98,9,94,1) 95%); 
}

.hero_title{

background: linear-gradient(to top, #efefffb2 45%, #ffffff 30%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}