.mint {
  border: 4px solid transparent;
  border-image: linear-gradient(50deg, #f8efba, #fc427b);
  border-image-slice: 1;
  border-radius: 20px;

  box-shadow: -1px 46px 54px 20px rgba(0, 0, 0, 0.68);
}

.mint-btn:hover {
  background-color: transparent;
  border-width: 1px;
  border-color: white;
}

.plus:hover,
.minus:hover {
  background-color: transparent;
  border-width: 1px;
  border-color: white;
}

.btn-shadow:hover {
  box-shadow: 0px 8px 10px 0px rgba(255, 255, 255, 0.64);
}

.step-bg {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 1s ease-in-out;
}

.mint-status {
  box-shadow: 0px 0px 20px 9px rgba(8, 43, 240, 0.952);
}
