/* .nav-item:before{
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    height: 0;
    width:  0;
    border:2px solid transparent;
    box-sizing: border-box;
}
.nav-item:after{
    content: "";
    top: 0;
    right: 0;
    position: absolute;
    height: 0;
    width:  0;
    border:2px solid transparent;
    box-sizing: border-box;
}
.nav-item:hover:before{
    height: 100%;
    width: 100%;
    border:2px solid white;
    border-right: none;
    border-bottom:none;
    transition: height 0.2s linear,
                width 0.2s linear 0.2s;
  
}
.nav-item:hover:after{
    height: 100%;
    width: 100%;
    border:2px solid white;
    border-left: none;
    border-top:none;
    transition: height 0.2s linear,
                width 0.2s linear 0.2s;
            
} */
/* .nav-item:hover{
    
    transform: translateY(-12px);
    transition: all .5s  ease-in-out;
} */

.nav-icon:hover {
  color: tomato;
  transform: scale(2);
}

/*NAV BAR*/

.navbar {
  position: absolute;
  top: 120px;
  background-color: #201f25;
  padding: 51px;
  width: 100%;
  height: auto;
  right: -231px;
  left: 0;
  display: flex;
  flex-direction: column;

  animation: anim 0.7s alternate;
}

@keyframes anim {
  0% {
    transform: translateX(100%);
    filter: blur(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.nav-item:hover {
  color: #ff6348;
}
