.media:hover{
    @apply text-orange-500;
    scale: 1.4;
}
.disco_container:hover{
    @apply bg-black;
  

}
.disc:hover{
    @apply text-blue-700;
    animation: 1s rot infinite;
}

@keyframes rot {
    0%{
        transform: translateY(-12px);
      
    }
    100%{
        transform: translateY(0) ;
        
    }
}